.card{
  width: 280px;
  height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 16px;
  border: 2px solid var(--black);
  border-radius: 8px;
  background-color: var(--white);
  padding: 16px 16px 24px 16px;
  gap: 16px;
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
}

.card:hover{
  box-shadow: 4px 4px 0px 0px var(--black);
}

.card figure{
  width: 248px;
  height: 310px;
  border-radius: 4px;
  border: 2px solid var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card figure img{
  height: 100%;
}

.card-middle{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-title--link{
  text-decoration: none;
}

.card-bottom{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.card-bottom p{
  margin: 0;
}

.addToCartBtn{
  width: 280px;
  height: 64px;
  border: none;
  border-radius: 4px;
  margin-top: 8px;
  padding: 8px 16px 8px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: var(--white);
  background: var(--pink-200);
}

.addToCartBtn img{
  width: 40px;
  height: 40px;
}

.addToCartBtn:hover{
  box-shadow: 4px 4px 0px 0px var(--black);
}

.addToCartBtn:active{
  box-shadow: 4px 4px 0px 0px var(--black) inset;
}

