.product-card-h {
  border: 2px solid var(--black);
  width: 690px;
  max-width: 690px;
  height: 245px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.card-h-fig{
  width: 204px;
  min-width: 204px;
  height: 213px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--black);
}

.card-h-fig img{
  width: 160px;
}

.card-h-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 16px;
  width: 100%;
}
.card-h-info h4 {
  margin-bottom: 78px;
}

.card-h-info--ap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.eliminar {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.card-h-info--artista {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card-h-info--artista figure {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 16px;
  background-color: var(--bg-300);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-h-info--artista img {
  width: 24px;
}

.card-h-precio{
  display: flex;
  justify-content: center;
  align-items: center;
}