.login-modal-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.7);
}

.login-modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background-color: var(--white);
  padding: 14px 28px;
  border-radius: 3px;
}

.active-modal {
  overflow-y: hidden;
}