
.nosotros-title{
  padding: 0 120px;
  height: 210px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-300);
}


.grid-container{
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, minmax(588px, 1fr));
  place-items: center;
  gap: 24px 111px;
  margin: 120px auto 150px auto;
}

.grid-container figure{
  width: 100%;
  height: 441px;
  background-color: var(--bg-300);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container aside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container aside h4{
  margin-bottom: 32px;
}

.nosotros-img{
  width: 286px;
  height: 190px;
}

.nosotros-contacto{
  height: 247px;
  display: grid;
  padding: 0 120px;
  margin-bottom: 178px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 247px;
  gap: 24px;
  align-items: center;
  justify-items: center;
  background-color: var(--bg-400);
}

.nosotros-contacto h4{
  grid-column: 2/7;
  text-align: center;
}

.nosotros-contacto a{
  display: block;
  grid-column: 8/12;
  width: 100%;
  height: 51px;
  background-color: var( --color2);
  color: var( --color4);
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 3rem;
}

.nosotros-contacto a:hover {
  background-color: #BF0245 ;
}
