header{
  height: 80px;
  padding: 4px 16px 4px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--purple-300);
  color: var(--white);
  position: relative;
}

.header-logo img{
  width: 200px;
  height: 23px;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

nav ul li{
  padding: 8px 16px;
}

nav ul li a{
  text-decoration: none;
  color: var(--white);
}

nav ul li a.active{
  color: var(--green-200);
  border-bottom: 4px solid var(--green-200);
}

.header-right ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

.header-right ul li{
  height: 48px;
  width: 64px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon{
  width: 32px;
  height: 32px;
}
