.title {
  background-color: var(--purple-300);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.title span {
  cursor: pointer;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding-top: 16px;
  place-items: center;
}

.totalprice{
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.checkout-cart-modal{
  background-color: var(--purple-300);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-cart-modal button{
  width: 236px;
  height: 72px;
  color: var(--white);
}

.cart-modal-carrito{
  border:  2px solid var(--white);
  border-radius: 4px;
  background: var(--purple-300);

}

.cart-modal-tienda{
  border-radius: 4px;
  border: none;
  background: var(--pink-200);
}

