header{
  height: 64px;
  padding: 0 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-700);
}

.logo{
  font-size: 40px;
  font-weight: 600;
  width: 10%;
  text-align: center;
  text-decoration: none;
  color: var(--bg-50);
}
nav{
  width: 60%;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav ul li{
  padding: 0 16px;
  font-weight: 500;
}

nav ul li a{
  text-decoration: none;
  color: var(--bg-200);
}

.header-right{
  width: 30%;
}

.header-right ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-right ul li{
  height: 36px;
  min-height: 36px;
  width: 36px;
  min-width: 36px;
  margin: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-200);
  border-radius: 50%;
  line-height: 0.7rem;
}

.icon{
  width: 22px;
  height: 22px;
}
