.artistas-main{
  max-width: 1200px;
  margin: 0 auto;
  padding: 77px 120px 309px 120px;
  display: grid;
  grid-template-columns: repeat(4, minmax(280px, 1fr));
  grid-template-rows: auto;
  column-gap: 24px;
  row-gap: 43px;
  place-items: center;
}

.artistas-title{
  grid-column: 1/5;
  margin-bottom: 142px;
}

.cuadrado {
  display: block;
  height: 320px;
  width: 280px;
  max-width: 280px;
  background: var(--bg-200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
