.artistas-cards-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 309px 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(280px, 1fr));
  grid-template-rows: auto;
  column-gap: 24px;
  row-gap: 43px;
  place-items: center;
}

.artistas-title{
  padding-top: 48px ;
  margin-bottom: 142px;
  height: 152px;
  background-color: var(--green-200);
  display: block;
  text-align: center;
}

.artistas-contact-container{
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  background-color: var(--green-200);
  padding: 42px 0;
}

.artistas-contact-container h4{
  width: 1200px;
  text-align: center;
  margin-bottom: 76px;
}

.artistas-contact-button{
  background-color: var(--pink-200);
  display: block;
  height: 64px;
  width: 480px;
  color: var(--white);
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.artistas-contact-button:hover {
  box-shadow: 4px 4px 0px 0px var(--black);
}

.artistas-contact-button:active {
  box-shadow: 4px 4px 0px 0px var(--black) inset;
}

.center{
  text-align: center;
  margin-bottom: 40px;
}

.h3center{
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 40px;
}