.artistas-cards-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 309px 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(280px, 1fr));
  grid-template-rows: auto;
  column-gap: 24px;
  row-gap: 43px;
  place-items: center;
}

.artistas-title{
  margin-bottom: 142px;
  height: 120px;
  background-color: var(--bg-200);
  display: block;
  text-align: center;
  line-height: 6.5rem;
}

.artistas-contact-container{
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../img/defaultImg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 120px;
}

.artistas-contact-container h4{
  width: 864px;
  text-align: center;
  margin-bottom: 76px;
}

.artistas-contact-button{
  background-color: var(--color2);
  display: block;
  height: 80px;
  width: 400px;
  color: var(--color4);
  text-decoration: none;
  text-align: center;
  line-height: 4.5rem;
}


.artistas-contact-button:hover {
  background-color: #BF0245 ;
}