.carrito{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.carrito p{
  margin: 0;
  padding: 0;
}

.carrito-content-title{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--green-200);
  color: var(--black);
  height: 152px;
  width: 100%;
}

.carrito-content{
  margin: 100px 120px ;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(12, minmax(78px,1fr));
  gap: 24px;
}

.carrito-content--products{
  grid-column: 1/8;
}

.carrito-content--summary{
  grid-column: 8/13;
  background-color: var(--bg-400);
  padding: 23px 35px;
}

.carrito-content--summary h4{
  margin-bottom: 24px;
}

.divider{
  display: block;
  height: 1px;
  width: 100%;
  background-color: black;
  margin: 24px 0;
}

.summary-input{
  height: 48px;
  width: 100%;
  padding-left: 16px;
  margin: 8px 0;
}

.despacho-precio{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}

.subtotal{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary-cards-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  margin-top: 24px;
}

.summary-benefits{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aportes{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 86px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.aportes figure{
  width: 110px;
  height: 86px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 12px;
}

.aportes figure p{
  text-align: center;
  margin: 12px 0;
}


.boton {
  display: block;
  height: 64px;
  width: 100%;
  margin: 16px 0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton:hover{
  cursor: pointer;
  box-shadow: 4px 4px 0px 0px var(--black);
}

.boton:active{
  cursor: pointer;
  box-shadow: 4px 4px 0px 0px var(--black) inset;
}

.boton a {
  text-decoration: none;
  color: inherit;
}

.primario{
  background-color: var(--pink-200);
  color: var(--white);
  border: none;
}

.secundario {
  background-color: var(--white);
  border: 2px solid var(--black);
  color: var(--black);
}