.logo{
  width: 280px;
  height: 32px;
  margin-bottom: 32px;
}

footer{
  height: 416px;
  background-color: var(--purple-300);
  padding: 40px 120px 80px 120px;
  color: var(--white);
}

.footer-container{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--white);
  padding-bottom: 32px;
}

.footer-menu{
  width: 697px;
  display: flex;
  justify-content: space-between;
}

.footer-menu ul{
  list-style: none;
}

.footer-social{
  width: 423px;
  height: 64px;
}

.footer-social ul {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  list-style: none;
}

.footer-social ul li{
  width: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-icon{
  width: 40px;
  height: 40px;
}