:root{
  --bg-50:  #f8fafc;
  --bg-100: #f1f5f9;
  --bg-200: #e2e8f0;
  --bg-300: #cbd5e1;
  --bg-400: #94a3b8;
  --bg-500: #64748b;
  --bg-600: #475569;
  --bg-700: #334155;
  --bg-800: #1e293b;
  --bg-900: #0f172a;
  --bg-950: #020617;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  color: var(--bg-900);
}

/* == Tipografías del UIKit == */
.headline1{
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 48px;
}

.headline2{
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 32px;
}

.headline3{
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.headline4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.text1 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.text2 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.text3 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.text4 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.text5 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.text6 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}