.card-artista-alt{
  width: 280px ;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background: var(--bg-200);
}

.card-artista-alt img{
  width: 80%;
}

.card-artista--name{
  width: 191px;
  height: 51px;
  border: none;
  background-color: #F53E7F;
  color: white;
  position: absolute;
  left: -4px;
  bottom: 32px;
  opacity: 0;
  transition: opacity 0.25s;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  line-height: 3rem;
}

.card-artista--name:hover{
  cursor: pointer;
  opacity: 1;
}

